<kobo-input [formGroup]="testForm" direction="reverse" icon="waves">
  <label for="phone">Phone <span *ngIf="isRequired(phoneControl)">*</span></label>
  <input #phone formControlName="phone" id="phone" type="text" placeholder="eg. me@gmail.com" koboMask mask="(999) 9999 - 999">
  <span class="hint" koboHint>Only valid phone number</span>
  <span *ngIf="phoneControl.invalid && phoneControl.touched" class="error" koboHint>Email is not valid</span>
</kobo-input>

<kobo-input direction="reverse">
  <label for="email">Phone <span *ngIf="isRequired(phoneControl)">*</span></label>
  <input id="email" type="text" placeholder="eg. me@gmail.com" koboMask mask="AA - 9aa3 - *** AA">
  <span class="hint" koboHint>Only valid phone number</span>
  <span *ngIf="phoneControl.invalid && phoneControl.touched" class="error" koboHint>Email is not valid</span>
</kobo-input>
<router-outlet></router-outlet>

